#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.card {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.function-names {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1em;
    background: #f4f4f4;
    padding: 1em;
    line-height: 2em;
}
